.nav-tabs {
  border-bottom: 0;
  @include display-flex;
  > li {
    @extend .flex-1;
    > a {
      @include transition(color $swift-ease-out-duration $swift-ease-out-timing-function, border-color $swift-ease-out-duration $swift-ease-out-timing-function);
      border: none;
      border-bottom: 2px solid transparent;
      color: $text-color-secondary;
      font-weight: $body-font-weight-med;
      text-transform: uppercase;
      display: block;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        border-color: transparent;
        color: $text-color;
        text-decoration: none;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:active,
      &:focus {
        color: $brand-primary;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $brand-primary;
        color: $text-color;
        cursor: default;
        outline: none;
      }
    }
  }
}