$toolbar-tools-height: 64px !default;
$toolbar-height: 64px !default;
$toolbar-medium-tall-height: 88px !default;
$toolbar-tall-height: 128px !default;
$toolbar-indent-margin: 64px !default;
$toolbar-padding: 16px !default;

$icon-button-margin-offset: -0.800rem !default;

.md-toolbar {
  background-color: $gray-900;
  font-size: 2.0rem;
  // min-height: 64px;
  width: 100%;
  margin-bottom:2em;

  .md-indent {
    margin-left: $toolbar-indent-margin;
  }
}

.md-toolbar-tools {
  @extend .md-title;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 100%;
  padding: 0 $toolbar-padding;
  margin: 0;

  h2, h3 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  .fill-height {
    display: flex;
    align-items: center;
  }
  .md-button {
    margin-top: 0;
    margin-bottom: 0;
  }
  &> .md-button:first-child {
    margin-left: $icon-button-margin-offset;
  }

  @media screen and (-ms-high-contrast: active) {
    border-bottom: 1px solid #fff;
  }
}

.md-toolbar-inner{
  padding-top:1em;
  padding-bottom:1.2em;
  position: relative;
  @include breakpoint($screen-sm){
    padding-top:1.5em;
    padding-bottom: 1.7em;
  }
}

.md-toolbar-bottom-right{
  position: absolute;
  bottom: -1.4em;
  right: 0.6em;
}
