// Fab buttons
$button-fab-width: 5.600rem !default;
$button-fab-height: 5.600rem !default;
$button-fab-line-height: 5.600rem !default;
$button-fab-padding: 1.60rem !default;

/**
 * Position a FAB button.
 */
@mixin fab-position($spot, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  &.btn-fab-#{$spot} {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: absolute;
  }
}

.btn-container {
  background-color: $body-bg;
  padding: 0.75em 0; //padding takes place of button margin when in container
  &.btn-container-righty {
    text-align: right;
  }
  &.btn-container-fixed {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  &.btn-container-bordered {
    border-bottom: 1px solid $gray-800;
    border-top: 1px solid $gray-800;
  }
  &.btn-container-bordered-top {
    border-top: 1px solid $gray-800;
  }
  .btn {
    margin: 0 0.25rem; //side margins for multiple buttons in container
    &:first-of-type {
      margin-left: 0; //0 margin for first/left-aligned
    }
  }
}

.btn {
  border: none;
  border-radius: $border-radius-large;
  line-height: 1.2em;
  padding:$grid-gutter-width/4 $grid-gutter-width/2;
  text-transform: uppercase;
  @extend .md-shadow-bottom-z-1;
  @include transition(box-shadow $swift-ease-out-duration $swift-ease-out-timing-function,
    background-color $swift-ease-out-duration $swift-ease-out-timing-function);
  &.btn-flat{
    box-shadow:none;
  }
  &[disabled]{
    @include opacity(100);
    color: $text-color-secondary !important;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow:none;
    background-color: $gray-800;
    &.btn-flat{
      background-color:none;
    }
    .icon {
      fill: $text-color-secondary;
    }
  }
}
.btn-titlebar {
  .icon {
    height: 32px;
    width: 32px;
  }
}

.btn-nopad {
  @include border-radius(0);
  padding-left: 0;
  padding-right: 0;
}
.btn-flat {
  background-color: transparent;
  &[disabled]{
    .icon {
      fill: $text-color-secondary;
    }
  }
  &.btn-primary {
    background-color: transparent;
    color: $brand-primary;
    .icon {
      fill: $brand-primary;
    }
  }
  &.btn-success {
    background-color: transparent;
    color: $brand-success;
    .icon {
      fill: $brand-success;
    }
  }
  &.btn-warning {
    background-color: transparent;
    color: $brand-warning;
    .icon {
      fill: $brand-warning;
    }
  }
  &.btn-danger {
    background-color: transparent;
    color: $brand-danger;
    .icon {
      fill: $brand-danger;
    }
  }
  &.btn-info {
    background-color: transparent;
    color: $brand-info;
    .icon {
      fill: $brand-info;
    }
  }
  &:hover {
    background-color: $gray-800;
  }
}
.btn-block {
  display: block;
  border-radius:0;
}
.icon {
  display: inline-block;
  fill: white;
  height:1.3em;
  width:1.3em;
  vertical-align: text-bottom;
}
.btn-fab {
  @include fab-position(bottom-right, auto, ($button-fab-width - $button-fab-padding)/2, ($button-fab-height - $button-fab-padding)/2, auto);
  @include fab-position(bottom-left, auto, auto, ($button-fab-height - $button-fab-padding)/2, ($button-fab-width - $button-fab-padding)/2);
  @include fab-position(top-right, ($button-fab-height - $button-fab-padding)/2, ($button-fab-width - $button-fab-padding)/2, auto, auto);
  @include fab-position(top-left, ($button-fab-height - $button-fab-padding)/2, auto, auto, ($button-fab-width - $button-fab-padding)/2);
  @include fab-position(bottom-right-toolbar, -$button-fab-height/2, $button-fab-width/4, auto, auto);

  @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function, background-color $swift-ease-out-duration $swift-ease-out-timing-function);
  z-index: $z-index-fab;

  border: none;
  line-height: $button-fab-line-height;
  min-width: 0;
  padding: 0 0;
  width: $button-fab-width;
  height: $button-fab-height;
  vertical-align: middle;
  position: relative;

  @extend .md-shadow-bottom-z-1;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  &:hover {
    @include transform(scale(1.2));
  }
}
.btn-icon{
  background-color: transparent;
  border: none;
  line-height: 48px;
  min-width: 0;
  padding: 0 0;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
  &:hover, &:active, &:focus {
    background-color: $gray-800;
  }
  .btn-fab-icon {
    fill: $text-color-secondary;
  }
}
.btn-fab-icon {
  // .transition(fill 400ms cubic-bezier(0.23, 1, 0.32, 1));
  fill: white;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px;
}
.btn-default{
  &:hover{
    background:$gray-800;
  }
}
.dropdown-menu {
  @extend .md-shadow-bottom-z-1;
  border: none;
}