.md-sll {
  list-style: none;
  padding: 0;
}
.md-sll-item {
  padding: 12px 16px;
}
.md-sll-select {
  display: inline-block;
  fill: $text-color;
  margin-right: 24px;
  white-space: nowrap;
  width: 48px;
}
.md-sll-title {
  // line-height: 16px;
  vertical-align: middle;
  > label {
    font-weight: $body-font-weight;
  }
}