.modal-content {
  @extend .md-shadow-bottom-z-2;
  border: none;
}
.modal[size="notify"] {
  &.fade .modal-dialog { @include translate(0, 100px) }
  &.in .modal-dialog { @include translate(0, 0) }
  .modal-dialog {
    bottom: 0;
    display: block;
    margin: 0 0 0 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @include breakpoint($screen-sm) {
      bottom: 32px;
      max-width: 500px;
      right: 32px;
    }
  }
}

.modal[size="context"] {
  &.fade .modal-dialog {
    @include translate(0, 100%);
    @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function);
  }
  &.in .modal-dialog { @include translate(0, 0) }
  @include breakpoint($screen-sm){
    &.fade{
      .modal-dialog{
        @include translate(100%, 0px);
      }
    }
    &.in{
      .modal-dialog {
        @include translate(0,0);
      }
    }
  }
  .modal-dialog {
    bottom: 0px;
    margin: 0 0 0 0;
    position: absolute;
    left:0;
    width:100%;
    @include breakpoint($screen-sm){
      width:300px;
      left:auto;
      right:0;
      height:100%;
      .modal-content{
        height:100%;
      }
    }
  }
  .modal-body {
    padding: 0;
  }
}

.modal-backdrop{
  &.notify{
    background:none;
  }
}

@include breakpoint($screen-sm) {
  .modal-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }
}
