.progress {
  @include box-sizing(border-box);
  border: 3px solid $gray-400;
  border-radius: 3em;
  margin-bottom: 2em;
  padding: 0.25em;
  position: relative;
  &.success {
    .progress_bar { background: $brand-success; }

  }
  .progress_bar {
    @include transition(width $swift-ease-out-duration $swift-ease-out-timing-function);
    background: $brand-primary;
    border-radius: 1em;
    height: 1em;
    max-width: 100%;
    width: 1em;
    &.complete {
      background: $brand-success;
    }
  }
  .ticks {
    bottom: -1.5em;
    content: "";
    height: 1em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .tick {
    background-color: $gray-400;
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 2px;
    margin: 0 6%;
    vertical-align: top;
    &:nth-child(2n){
      height: 0.75em;
    }
  }
}
.progress_counter {
  color: $brand-primary;
  &.success {
    color: $brand-success;
  }
}