//== Fonts
//
$font-family-sans-serif:'Gotham SSm A','Gotham SSm B',sans-serif;
$font-family-serif:'Sentinel SSm A', 'Sentinel SSm B';
$font-family-monospace:'InconsolataMedium', monospace;
$headings-font-family:'Tungsten Rounded A', 'Tungsten Rounded B', sans-serif;
$headings-font-weight:500;
$font-size-base:16px;
$body-font-weight:300;
$body-font-weight-bold:700;
$body-font-weight-med:500;
$btn-font-weight:$body-font-weight-med;

//== Colors
//
$body-bg:#303030;
$text-color:rgba(white, 0.85);
$text-color-secondary:rgba(white, 0.54);

$text-color-lightbg:rgba(black, 0.85);
$text-color-secondary-lightbg:rgba(black, 0.54);

$brand-primary:#42A5F5; //$blue-400
$brand-success:#7CB342; //$light-green-600
$brand-info:#9575CD; //$deep-purple-300
$brand-warning:#FFA726; //$orange-400
$brand-danger:#f05223; //custom color
$brand-error:#FFD600; //$yellow-A700

$gray-50:#fafafa;
$gray-100:#f5f5f5;
$gray-200:#eeeeee;
$gray-300:#e0e0e0;
$gray-400:#bdbdbd;
$gray-500:#9e9e9e;
$gray-600:#757575;
$gray-700:#616161;
$gray-800:#424242;
$gray-900:#212121;

$btn-default-color:$text-color;
$btn-default-bg:$gray-900;
$btn-default-border:transparent;

$state-success-text:$brand-success;
$state-success-bg:darken($brand-success,5%);
$state-success-border:darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:$brand-info;
$state-info-bg:darken($brand-info,5%);
$state-info-border:darken(adjust-hue($state-info-bg, -10), 5%) !default;

$state-warning-text:$brand-warning;
$state-warning-bg:darken($brand-warning,5%);
$state-warning-border:darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:$brand-danger;
$state-danger-bg:darken($brand-danger,5%);
$state-danger-border:darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//== Bootstrap Widths
$grid-gutter-width:30px;
$container-tablet:((720px + $grid-gutter-width));
$container-sm:$container-tablet;
// Medium screen / desktop
$container-desktop:((800px + $grid-gutter-width));
$container-md:$container-desktop;
// Large screen / wide desktop
$container-large-desktop:((1020px + $grid-gutter-width));
$container-lg:$container-large-desktop;

//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:$brand-primary;

//== Modals
//
$modal-content-bg:$gray-900;

//== Radii
//
$border-radius-base:0;
$border-radius-large:3px;
$border-radius-small:0;

//== Tables
//
// $table-cell-padding:8px !default;
// $table-condensed-cell-padding:5px !default;
// $table-bg:transparent !default;
$table-bg-accent:$gray-800;
$table-bg-hover:$gray-900;
$table-bg-active:$table-bg-hover;
$table-border-color:$gray-800;

//== Dropdowns
//
//** Background for the dropdown menu.
$dropdown-bg:$gray-900;
//** Dropdown menu `border-color`.
$dropdown-border:transparent;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:transparent;
//** Divider color for between dropdown items.
$dropdown-divider-bg:$gray-800;
//** Dropdown link text color.
$dropdown-link-color:$text-color;
//** Hover color for dropdown links.
$dropdown-link-hover-color:   #fff;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:$brand-primary;
//** Active dropdown menu item text color.
$dropdown-link-active-color:#fff;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:$brand-primary;
//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:$gray-700 !default;
//** Text color for headers within dropdown menus.
$dropdown-header-color:$text-color-secondary;
//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:$text-color-secondary;

// Z-indexes
//--------------------------------------------

$z-index-tooltip:100;
$z-index-dialog:80;
$z-index-toast:90;
$z-index-bottom-sheet:70;
$z-index-sidenav:60;
$z-index-backdrop:50;
$z-index-fab:20;

// Drop Shadows
.md-shadow-bottom-z-1 {
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.md-shadow-bottom-z-2 {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.md-shadow-animated{
  &.md-shadow {
    transition:box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// Easing Curves
//--------------------------------------------

$swift-ease-out-duration:0.4s;
$swift-ease-out-timing-function:cubic-bezier(0.25, 0.8, 0.25, 1);
$swift-ease-out:all $swift-ease-out-duration $swift-ease-out-timing-function;

$swift-ease-in-duration:0.3s;
$swift-ease-in-timing-function:cubic-bezier(0.55, 0, 0.55, 0.2);
$swift-ease-in:all $swift-ease-in-duration $swift-ease-in-timing-function;

$swift-ease-in-out-duration:0.5s;
$swift-ease-in-out-timing-function:cubic-bezier(0.35, 0, 0.25, 1);
$swift-ease-in-out:all $swift-ease-in-out-duration $swift-ease-in-out-timing-function;