.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
nbproject/
node_modules/
public/system/lib
mean.iml
test/coverage/
modules/public/
modules/views/
/public/build/
/nbproject/private/
bower_components/
public/css/src/style.css.map
public/css/src/style.css
*.min.js
*.css

public/lib/
rawdata/
.sass-cache/

*.sublime-workspace
*.sublime-project